/* cartType */
#cardType h2 {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-size: 50px;
}

.card__inner {
    display: flex;
    justify-content: space-between;
    font-family: 'GmarketSans';
}
.card {
    width: 32%;
    position: relative;
}
.card__body {
    position: absolute;
    bottom: 0;
    width: 87%;
    padding: 24px;
    text-align: center;
}

.card__body.box1 {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.card__body.box2 {
    background: rgba(160, 124, 56, 0.7);
    color: #fff;
}

.card__body.box3 {
    background: rgba(155,146, 137, 0.7);
    color: #fff;
}

.card__body .tit {
    font-size: 24px;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 
}
.card__body a {
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.card__body a:hover {
    border-bottom: 1px solid #fff;
}


@media (max-width: 960px){
    .card__inner {
        flex-wrap: wrap;
    }
    .card {
        width: 49%;
    }
    .card:last-child {
        display: none;
    }
}
@media (max-width: 600px){
    .card {
        width: 100%;
    }
    .card:first-child {
        margin-bottom: 20px;
    }
    .card__body {
        padding: 20px;
    }
    .card__body .desc {
        font-size: 16px;
    }
}